.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    gap: 20px;
    padding: 40px;
}

@media (max-width: 768px) {
    .dashboard-container {
        grid-template-columns: 1fr;
        /* Single column on smaller screens */
    }
}


.chart-container canvas {
    width: 100% !important;
    height: auto !important;
}
