@{
    ViewData["Title"] = "Name32434";
}

    
<div class="dashboard-container">
    <canvas class="chart-container" id="profit-chart"></canvas>
    <canvas class="chart-container" id="expenses-chart"></canvas>
    <canvas class="chart-container" id="income-chart"></canvas>
    <canvas class="chart-container" id="orders-chart"></canvas>
</div>
<script type="text/javascript">
    set();
</script>





