@model business.Application.Web.Models.Tab.TabViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - business</title>
    <link rel="stylesheet" href="~/index.css">
    <script src="~/TabNavigarion.js"></script>

    <link rel="stylesheet" href="~/DashboardCharts.css">
    <link rel="stylesheet" href="~/css/notes.css">
    <link rel="stylesheet" href="~/css/clientTable.css">
    <script src="~/DashboardCharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/chart.min.js"></script>
</head>

<body onload="showContent('')">
    <nav class="sidebar">
        <ul>
            <li>@Html.ActionLink("Главная", "dashboard", "Home")</li>
            <li><a class="tab active" onclick="showContent('dashboard')">Графики</a></li>
            <li><a class="tab" onclick="showContent('notes')">Заметки</a></li>
            <li><a class="tab" onclick="showContent('client')">Клиенты</a></li>
            <li><a class="tab" onclick="showContent('order')">Заказы</a></li>
            <li><a class="tab" onclick="showContent('settings')">Настройки</a></li>
        </ul>
    </nav>
    <div id="content" class="content">
        @RenderBody()
    </div>
</body>
</html>


