<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - business</title>
    <link rel="stylesheet" href="~/index.css">
    <script src="~/TabNavigarion.js"></script>

    <link rel="stylesheet" href="~/DashboardCharts.css">
    <link rel="stylesheet" href="~/css/notes.css">
    <link rel="stylesheet" href="~/css/clientTable.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body style="min-width:850px">
    <partial name="HeaderBar"/>
    <nav class="sidebar">
        <ul>
            <li><a class="tab" asp-controller="Home" asp-action="Home">Главная</a></li>
            <li><a class="tab" asp-controller="Dashboard" asp-action="Dashboard">Графики</a></li>
            <li><a class="tab" asp-controller="Notes" asp-action="Notes">Заметки</a></li>
            <li><a class="tab" asp-controller="Customer" asp-action="TableCustomers" >Клиенты</a></li>
            <li><a class="tab" asp-controller="Order" asp-action="TableOrders">Заказы</a></li>
        </ul>
    </nav>
    <div id="content" class="content">
        @RenderBody()
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/DashboardCharts.js"></script>
</body>
</html>


